<div class="login">
  <h1>Change your password</h1>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.hidden_field :reset_password_token %>
    <div class='mt-10p'>
      <div class='form-group'>
        <%= f.password_field :password, class: 'form-control', placeholder: 'New password', required: true, minlength: 6 %>
      </div>

      <div class='form-group'>
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm new password', required: true, minlength: 6 %>
        <small>
          <a href='/users/sign_in' class='devise-link'>Sign in</a>
          <a href='/users/sign_up' class='devise-link float-right'>Sign up</a>
        </small>
      </div>
    </div>

    <div class='text-center'>
      <button type='submit' class="btn btn-primary btn-block btn-large"><span style='color: #FFFFFF'>Change</span></button>
    </div>
  <% end %>
</div>
