<div class="login">
  <h1>Login</h1>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class='mt-10p'>
      <div class='form-group'>
        <%= f.email_field :email, class: 'form-control', placeholder: 'Email Address', required: true, pattern: ".{1,40}[@]{1}[a-zA-Z0-9-]{1,30}[.]{1}[a-z0-9._%+-]{2,20}" %>
      </div>

      <div class='form-group'>
        <%= f.password_field :password, class: 'form-control', placeholder: 'Password', required: true %>
        <small>
          <a href='/users/sign_up' class='devise-link'>Sign up</a>
          <a href='/users/password/new' class='devise-link float-right'>Forgot password?</a>
        </small>
      </div>
    </div>

    <div class='text-center'>
      <button type='submit' class="btn btn-primary btn-block btn-large"><span style='color: #FFFFFF'>Sign In</span></button>
    </div>
  <% end %>
</div>
